@model IEnumerable<YZProje.Models.Urun>
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">

    <!--====== Title ======-->
    <title>eStore Template</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/png">

    <!-- Slick CSS -->
    <link rel="stylesheet" href="/assets/css/slick.css">

    <!-- Line Icons CSS -->
    <link rel="stylesheet" href="/assets/css/LineIcons.css">

    <!-- Material Design Icons CSS -->
    <link rel="stylesheet" href="/assets/css/materialdesignicons.min.css">

    <!-- Jquery UI CSS -->
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css">

    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="/assets/css/nice-select.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!-- Default CSS -->
    <link rel="stylesheet" href="/assets/css/default.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>

    <!--====== Preloader Part Start ======-->
    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== Preloader Part Ends ======-->
    <!--====== Navbar Style 7 Part Start ======-->
    <div class="navigation">
        <header class="navbar-style-7 position-relative">
            <div class="container">
                <!-- navbar mobile Start -->
                <div class="navbar-mobile d-lg-none">
                    
                    <!-- navbar search start -->
                    <div class="navbar-search mt-15 search-style-5">
                        <div class="search-select">
                            <select>
                                <option value="">All</option>
                                <option value="1">option 01</option>
                                <option value="2">option 02</option>
                                <option value="3">option 03</option>
                                <option value="4">option 04</option>
                                <option value="5">option 05</option>
                            </select>
                        </div>
                        <div class="search-input">
                            <input type="text" placeholder="Search">
                        </div>
                        <div class="search-btn">
                            <button><i class="lni lni-search-alt"></i></button>
                        </div>
                    </div>
                    <!-- navbar search Ends -->
                </div>
                <!-- navbar mobile Start -->
            </div>

            <div class="navbar-container navbar-sidebar-7">
                <!-- navbar close  Ends -->
                <div class="navbar-close d-lg-none">
                    <a class="close-mobile-menu-7" href="javascript:void(0)"><i class="mdi mdi-close"></i></a>
                </div>
                <!-- navbar close  Ends -->
                <!-- navbar top Start -->
                <div class="navbar-top-wrapper">
                    <div class="container-lg">
                        <div class="navbar-top d-lg-flex justify-content-between">
                            <!-- navbar top left Start -->
                            <div class="navbar-top-left">
                                <ul class="navbar-top-link">
                                    <li><a href="/Home/About">About</a></li>
                                    <li><a href="/Home/Contact">Contact</a></li>
                                    <li><a href="/Home/Knowledge">Knowledge</a></li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="mdi mdi-phone-in-talk"></i>
                                            +8801234567890
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- navbar top left Ends -->
                            <!-- navbar top right Start -->
                            <div class="navbar-top-right">
                                <ul class="navbar-top-link">
                                    <li>
                                        <select>
                                            <option value="0">$ USD</option>
                                            <option value="1">€ EURO</option>
                                            <option value="2">$ CAD</option>
                                            <option value="3">₹ INR</option>
                                            <option value="4">¥ CNY</option>
                                            <option value="5">৳ BDT</option>
                                        </select>
                                    </li>
                                    <li>
                                        <select>
                                            <option value="0">English</option>
                                            <option value="1">Español</option>
                                            <option value="2">Filipino</option>
                                            <option value="3">Français</option>
                                            <option value="4">العربية</option>
                                            <option value="5">हिन्दी</option>
                                            <option value="6">বাংলা</option>
                                        </select>
                                    </li>

                                    @if (!string.IsNullOrEmpty(ViewBag.UserName))
                                    {
                                        <li>
                                            <a href="#"><i class="mdi mdi-account"></i> @ViewBag.UserName</a>
                                        </li>
                                        <li>
                                            <a href="/Account/Logout"><i class="mdi mdi-logout"></i> Logout</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li><a href="/Account/Login"><i class="mdi mdi-account"></i>Login</a></li>
                                    }
                                </ul>
                            </div>
                            <!-- navbar top right Ends -->
                        </div>
                    </div>
                </div>
                <!-- navbar top Ends -->
                <!-- main navbar Start -->
                <div class="navbar-wrapper">
                    <div class="container-lg">
                        <nav class="main-navbar d-lg-flex justify-content-between align-items-center">
                            <!-- desktop logo Start -->
                            <div class="desktop-logo d-none d-lg-block">
                                <a href="/Home"><img src="assets/images/logo.svg" alt="Logo"></a>
                            </div>
                            <!-- desktop logo Ends -->
                            <!-- navbar menu Start -->
                            <div class="navbar-menu">
                                <ul class="main-menu">
                                    <li class="position-static menu-item-has-children">
                                        <a href="#">Womans</a>
                                        <!-- sub mega dropdown Start -->
                                        
                                        <!-- sub mega dropdown Ends -->
                                    </li>
                                    <li><a href="category.html">mens</a></li>
                                    <li><a href="category.html">Kids</a></li>
                                    <li><a href="category.html">Accessories</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Pages</a>
                                        
                                        <!-- sub menu Ends -->
                                    </li>
                                </ul>
                            </div>
                            <!-- navbar menu Ends -->
                            <div class="navbar-search-cart d-none d-lg-flex">
                                <!-- navbar search start -->
                                <div class="navbar-search search-style-5">
                                    <div class="search-select">
                                        <select>
                                            <option value="">All</option>
                                            <option value="1">option 01</option>
                                            <option value="2">option 02</option>
                                            <option value="3">option 03</option>
                                            <option value="4">option 04</option>
                                            <option value="5">option 05</option>
                                        </select>
                                    </div>
                                    <div class="search-input">
                                        <input type="text" placeholder="Search">
                                    </div>
                                    <div class="search-btn">
                                        <button><i class="lni lni-search-alt"></i></button>
                                    </div>
                                </div>
                                <!-- navbar search Ends -->
                                <!-- navbar cart start -->
                                <div class="navbar-cart">
                                    <a class="icon-btn primary-icon-text icon-text-btn" href="@Url.Action("Index", "Sepet")">
                                        <img src="assets/images/icon-svg/cart-1.svg" alt="Icon">
                                        <span class="icon-text text-style-1">88</span>
                                    </a>

                                    <a class="icon-btn primary-icon-text icon-text-btn" href="@Url.Action("Index", "Checkout")">
                                        <img src="/assets/images/icon-svg/order-icon.svg" alt="Siparişler">
                                        <span class="icon-text text-style-1">16</span>
                                    </a>
                                    <div class="navbar-cart-dropdown">
                                        <div class="checkout-style-2">
                                           

                                            

                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- navbar cart Ends -->
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- main navbar Ends -->
            </div>
            <div class="overlay-7"></div>
        </header>
    </div>
    <!--====== Navbar Style 7 Part Ends ======-->
    <!--====== Header Style 1 Part Start ======-->
    <section class="header-style-1">
        <div class="header-big">
            <div class="header-items-active">
                @if (Model != null && Model.Any())
                {
                    @foreach (var urun in Model.OrderBy(r => Guid.NewGuid()).Take(3))
                    {
                        <div class="single-header-item bg_cover" style="background-image: url('@urun.FotoUrl');">
                            <div class="header-item-content">
                                <h3 class="title">@urun.Ad</h3>
                                <p>@urun.Aciklama</p>
                                <a href="javascript:void(0)" class="link">View Details</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>Henüz ürün eklenmedi.</p>
                }
   
            
                
            </div>
        </div>
        <div class="header-min">
            @foreach (var urun in Model.OrderBy(r => Guid.NewGuid()).Take(2))
            {
                <div class="header-min-item product-style-25 bg_cover" style="background-image: url('@urun.FotoUrl');">
                    <div class="product-content">
                        <h4 class="title"><a href="/Urun/Details/@urun.UrunID">@urun.Ad</a></h4>
                        <p>@urun.Aciklama</p>
                        <form action="@Url.Action("AddToCart", "Sepet")" method="post" style="display: inline;">
                            <input type="hidden" name="urunID" value="@urun.UrunID" />
                            <input type="hidden" name="miktar" value="1" /> <!-- Varsayılan olarak 1 ürün ekleniyor -->
                            <a href="javascript:void(0)" class="main-btn primary-btn-border" onclick="this.closest('form').submit();">
                                <img src="assets/images/icon-svg/cart-5.svg" alt="">₺@urun.Fiyat
                            </a>
                        </form>
                    </div>
                </div>
            }
        </div>
    </section>
    <!--====== Header Style 1 Part Ends ======-->
    <!--====== Content Card Style 4 Part Start ======-->
    <section class="content-card-style-4 pt-70 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-content mt-15 text-center">
                        <div class="content-icon">
                            <i class="mdi mdi-truck-fast"></i>
                        </div>
                        <div class="content-content">
                            <h4 class="title"><a href="javascript:void(0)">Two-hour delivery</a></h4>
                            <p>Available in most metros on selected in-stock products</p>
                            <a href="javascript:void(0)" class="more">learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-content mt-15 text-center">
                        <div class="content-icon">
                            <i class="mdi mdi-message-text"></i>
                        </div>
                        <div class="content-content">
                            <h4 class="title"><a href="javascript:void(0)">Get help buying</a></h4>
                            <p>Have a question? Call a Specialist or chat online for help</p>
                            <a href="contact-page.html" class="more">Contact us</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-content mt-15 text-center">
                        <div class="content-icon">
                            <i class="mdi mdi-ticket-percent"></i>
                        </div>
                        <div class="content-content">
                            <h4 class="title"><a href="javascript:void(0)">Find the card for you</a></h4>
                            <p>Get 3% Daily Cash with special financing offers from us</p>
                            <a href="javascript:void(0)" class="more">learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Content Card Style 4 Part Ends ======-->
    <!--====== Product Style 1 Part Start ======-->
    <section class="product-wrapper pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-50">
                    <h1 class="heading-1 font-weight-700">Featured Items</h1>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var urun in Model.Take(6))  
            {
                <div class="col-lg-4 col-sm-6">
                    <div class="product-style-1 mt-30">
                        <div class="product-image">
                            <div class="product-active">
                                <div class="product-item active">                                
                                    <img src="@urun.FotoUrl" alt="product">
                                </div>
                            </div>
                            <a class="add-wishlist" href="javascript:void(0)">
                                <i class="mdi mdi-heart-outline"></i>
                            </a>
                        </div>
                            <div class="product-content text-center">
                                <h4 class="title"><a href="/Urun/Details/@urun.UrunID">@urun.Ad</a></h4>
                                <p>@urun.Aciklama</p>
                                <form action="@Url.Action("AddToCart", "Sepet")" method="post">
                                    <input type="hidden" name="urunID" value="@urun.UrunID" />
                                    <input type="hidden" name="miktar" value="1" /> <!-- Varsayılan olarak 1 ürün ekleniyor -->
                                    <a href="javascript:void(0)" class="main-btn secondary-1-btn" onclick="this.closest('form').submit();">
                                        <img src="assets/images/icon-svg/cart-7.svg" alt="">
                                        ₺@urun.Fiyat
                                    </a>
                                </form>
                            </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
    <!--====== Product Style 1 Part Ends ======-->
    <!--====== Product Style 7 Part Start ======-->
    <section class="product-wrapper pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-50">
                    <h1 class="heading-1 font-weight-700">Recent Items</h1>
                </div>
            </div>
        </div>
            
        <div class="row">
            @foreach (var urun in Model.Take(6))  
            {
                <div class="col-lg-6">
                    <div class="product-style-7 mt-30">
                        <div class="product-image">
                            <div class="product-active">
                                <div class="product-item active">
                                    <img src="@urun.FotoUrl" alt="product">
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <ul class="product-meta">
                                <li>
                                    <a class="add-wishlist" href="javascript:void(0)">
                                        <i class="mdi mdi-heart-outline"></i>
                                        Add to Favorite
                                    </a>
                                </li>
                                <li>
                                    <span><i class="mdi mdi-star"></i> 4.5/5</span>
                                </li>
                            </ul>
                                <h4 class="title"><a href="/Urun/Details/@urun.UrunID">@urun.Ad</a></h4>
                            <p>@urun.Aciklama</p>
                                <span class="price">₺@urun.Fiyat</span>
                                <form action="@Url.Action("AddToCart", "Sepet")" method="post">
                                    <input type="hidden" name="urunID" value="@urun.UrunID" />
                                    <input type="hidden" name="miktar" value="1" /> <!-- Varsayılan olarak 1 ürün ekleniyor -->
                                    <a href="javascript:void(0)" class="main-btn primary-btn" onclick="this.closest('form').submit();">
                                        <img src="assets/images/icon-svg/cart-4.svg" alt="">
                                        Add to Cart
                                    </a>
                                </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>     
</section>
    <!--====== Product Style 7 Part Ends ======-->
    <!--====== Features Part Start ======-->
    <section class="features-section pt-100 pb-50 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="features-title text-center mb-50">
                        <h1 class="heading-1 font-weight-700">Awesome Features</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature-wrapper">
                        <div class="feature-icon">
                            <i class="lni lni-cog"></i>
                        </div>
                        <div class="feature-content">
                            <h5 class="heading-5 font-weight-500 mb-10">Bootstrap 5</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quos iste veniam.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature-wrapper">
                        <div class="feature-icon">
                            <i class="lni lni-code"></i>
                        </div>
                        <div class="feature-content">
                            <h5 class="heading-5 font-weight-500 mb-10">Clean Design</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quos iste veniam.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature-wrapper">
                        <div class="feature-icon">
                            <i class="lni lni-layers"></i>
                        </div>
                        <div class="feature-content">
                            <h5 class="heading-5 font-weight-500 mb-10">Included Business Pages</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quos iste veniam.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature-wrapper">
                        <div class="feature-icon">
                            <i class="lni lni-laptop-phone"></i>
                        </div>
                        <div class="feature-content">
                            <h5 class="heading-5 font-weight-500 mb-10">Fully Responsive</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quos iste veniam.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature-wrapper">
                        <div class="feature-icon">
                            <i class="lni lni-brush"></i>
                        </div>
                        <div class="feature-content">
                            <h5 class="heading-5 font-weight-500 mb-10">Completely Customizable</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quos iste veniam.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature-wrapper">
                        <div class="feature-icon">
                            <i class="lni lni-rocket"></i>
                        </div>
                        <div class="feature-content">
                            <h5 class="heading-5 font-weight-500 mb-10">Fast and Well-optimized</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quos iste veniam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Features Part Ends ======-->
    <!--====== Clients Logo Part Start ======-->
    <section class="clients-logo-section pt-70 pb-70">
        <div class="container">
            <div class="row client-logo-active">
                <div class="col-lg-3">
                    <div class="single-logo-wrapper">
                        <img src="assets/images/client-logo/uideck-logo.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single-logo-wrapper">
                        <img src="assets/images/client-logo/graygrids-logo.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single-logo-wrapper">
                        <img src="assets/images/client-logo/lineicons-logo.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single-logo-wrapper">
                        <img src="assets/images/client-logo/pagebulb-logo.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Clients Logo Part Ends ======-->
    <!--====== Subscribe Part Start ======-->
    <section class="subscribe-section pt-70 pb-70 bg-primary-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 mx-auto">
                    <div class="heading text-center">
                        <h1 class="heading-1 font-weight-700 text-white mb-10">You are using free lite version</h1>
                        <p class="gray-3">Please, purchase full version of the template to get all pages, sections, features and permission to remove footer credits.</p>
                        </br>
                        <a href="https://rebrand.ly/estore-gg" rel="nofollow" target="_blank" class="main-btn secondary-1-btn">
                            <img src="assets/images/icon-svg/cart-7.svg" alt="">
                            PURCHASE NOW
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Subscribe Part Ends ======-->
    <!--====== Footer Style 3 Part Start ======-->
    <section class="footer-style-3 pt-100 pb-100">
        <div class="container">
            <div class="footer-top">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-7 col-sm-10">
                        <div class="footer-logo text-center">
                            <a href="index.html">
                                <img src="assets/images/logo.svg" alt="">
                            </a>
                        </div>
                        <h5 class="heading-5 text-center mt-30">Follow Us</h5>
                        <ul class="footer-follow text-center">
                            <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-twitter-filled"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-instagram-original"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-widget-wrapper text-center pt-20">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="footer-widget">
                            <h5 class="footer-title">PRODUCT</h5>

                            <ul class="footer-link">
                                <li><a href="javascript:void(0)">Quest</a></li>
                                <li><a href="javascript:void(0)">Rift S</a></li>
                                <li><a href="javascript:void(0)">Gear VR</a></li>
                                <li><a href="javascript:void(0)">Apps and Games</a></li>
                                <li><a href="javascript:void(0)">Apps and Games</a></li>
                                <li><a href="javascript:void(0)">Oculus for Business</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="footer-widget">
                            <h5 class="footer-title">DEVELOPERS</h5>

                            <ul class="footer-link">
                                <li><a href="javascript:void(0)">Developer Centre</a></li>
                                <li><a href="javascript:void(0)">Docs</a></li>
                                <li><a href="javascript:void(0)">Downloads</a></li>
                                <li><a href="javascript:void(0)">Tools</a></li>
                                <li><a href="javascript:void(0)">Developer Blog</a></li>
                                <li><a href="javascript:void(0)">Developer Forums</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="footer-widget">
                            <h5 class="footer-title">PRODUCT</h5>

                            <ul class="footer-link">
                                <li><a href="javascript:void(0)">Blog</a></li>
                                <li><a href="javascript:void(0)">Careers</a></li>
                                <li><a href="javascript:void(0)">Brand Centre</a></li>
                                <li><a href="javascript:void(0)">Connect</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="footer-widget">
                            <h5 class="footer-title">PRODUCT</h5>

                            <ul class="footer-link">
                                <li><a href="javascript:void(0)">VR for Good</a></li>
                                <li><a href="javascript:void(0)">Launch Pad</a></li>
                                <li><a href="javascript:void(0)">Creators Lab</a></li>
                                <li><a href="javascript:void(0)">Forums</a></li>
                                <li><a href="javascript:void(0)">Support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-copyright text-center">
                <p>
                    Developed by <a href="https://graygrids.com/" rel="nofollow" target="_blank">GrayGrids</a>. Basesd on <a href="https://ecommercehtml.com/" rel="nofollow" target="_blank">eCommerceHTML</a>
                </p>
            </div>
    </section>
    <!--====== Footer Style 3 Part Ends ======-->
    <!--====== Bootstrap 5 js ======-->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>


    <!--====== Jquery js ======-->
    <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="assets/js/vendor/modernizr-3.7.1.min.js"></script>

    <!--====== Slick js ======-->
    <script src="assets/js/slick.min.js"></script>

    <!--====== Accordion Steps Form js ======-->
    <script src="assets/js/jquery-vj-accordion-steps.js"></script>

    <!--====== Jquery Ui js ======-->
    <script src="assets/js/jquery-ui.min.js"></script>

    <!--====== Form validator js ======-->
    <script src="assets/js/jquery.form-validator.min.js"></script>

    <!--====== nice select js ======-->
    <script src="assets/js/jquery.nice-select.min.js"></script>

    <!--====== formatter js ======-->
    <script src="assets/js/jquery.formatter.min.js"></script>

    <!--====== Main js ======-->
    <script src="assets/js/count-up.min.js"></script>

    <!--====== Main js ======-->
    <script src="assets/js/main.js"></script>

</body>

</html>
